*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, sans-serif;
}

body{
background:#F7F8FC;
color:#1A1A1A;
line-height:1.6;
}

/* HEADER */

header{
background:#1E2A44;
color:white;
text-align:center;
padding:80px 20px;
}

header h1{
font-size:48px;
margin-bottom:10px;
}

header p{
font-size:20px;
opacity:0.9;
}

/* BUTTONS */

.buttons{
display:flex;
justify-content:center;
gap:15px;
margin-top:25px;
flex-wrap:wrap;
}

button{
background:#F0F2F8;
color:#1A1A1A;
border:none;
padding:15px 25px;
border-radius:12px;
font-size:16px;
cursor:pointer;
transition:0.3s;
box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

button:hover{
transform:translateY(-3px);
}

/* SECTIONS */

section{
max-width:1000px;
margin:auto;
padding:60px 20px;
}

h2{
color:#1E2A44;
margin-bottom:20px;
font-size:32px;
}

/* CARDS */

.card{
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 4px 20px rgba(0,0,0,0.08);
margin-bottom:20px;
}

/* SKILLS */

.skills{
display:flex;
flex-wrap:wrap;
gap:12px;
}

.skill{
background:#EAF0FF;
color:#1A1A1A;
padding:12px 18px;
border-radius:30px;
font-weight:bold;
}

/* PROJECTS */

.project{
border-left:5px solid #355C98;
}

/* PROJECT IMAGES */

.project img{
width:100%;
border-radius:15px;
margin-bottom:15px;
object-fit:cover;
}

/* FOOTER */

footer{
background:#1E2A44;
color:white;
text-align:center;
padding:40px;
margin-top:40px;
}
